
body{
  background-color: #f4f3f2;
}

h1{
  font-size: 5em;   
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(51, 72, 72);
}

.h3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
}

h6{
  text-align: center;
}

.box{
  margin-top: 40px;
}

.card{
  margin-top: 40px;
  width: 16em;
}

#cartList{
  margin-top: 10px;
}

.size{
  width: 12em; 
  margin-top: 10px; 
}

.sizeSum{
  width: 12em;
  /* border-color: rgb(241, 28, 127);
  background-color: rgb(236, 127, 178); */
  color: whitesmoke;
  background-color: #52796f;
  border-width: 2px;
  font-weight: bolder;
  font-style: oblique;
  text-align: center;
}

img{
  border-radius: 0.5em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn{
  background-color: #84a59d;
}

.navbar{
  background-color: #84a59d;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
      
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
} 

   